@model OgretmenCreateDto

<form method="post" asp-controller="Ogretmen" asp-action="Update">

    @Html.ValidationSummary(true)

    <div class="form-group row">
        <label asp-for="Adi" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="text" asp-for="Adi" class="form-control" />
            <span asp-validation-for="Adi" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Soyadi" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="text" asp-for="Soyadi" class="form-control" />
            <span asp-validation-for="Soyadi" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TcNo" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="text" asp-for="TcNo" class="form-control" />
            <span asp-validation-for="TcNo" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Gsm" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="text" asp-for="Gsm" class="form-control" />
            <span asp-validation-for="Gsm" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    Cinsiyet &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
     <label for="flexSwitchCheckDefault"    asp-for="Cinsiyet" class="switch">
  <input id="flexSwitchCheckDefault" asp-for="Cinsiyet" type="checkbox">
  <span class="slider round"></span>
</label>

    <div class="form-group row">
        <label asp-for="DogumTarihi" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="date" asp-for="DogumTarihi" class="form-control" />
            <span asp-validation-for="DogumTarihi" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <select id="ddlBrans" asp-for="BransId" asp-items="@ViewBag.Branslar">
            <option value="0">Brans Seciniz</option>
        </select>
     </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>

</form>