@model Brans

<form method="post" asp-controller="Brans" asp-action="Delete">

    <div class="form-group row">
        <label asp-for="BransAdi" class="col-md-2 col-form-label">@Model.BransAdi</label>
        <p>Bu kaydi Silmek istediginizden eminmisiniz ?</p>

    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Sil</button>
        <a  class="btn btn-secondary" asp-action="Index" asp-controller="Brans">Listeye Geri Dön</a>
    </div>
</form>