@model Brans 

<form method="post" asp-controller="Brans" asp-action="Create">

    @Html.ValidationSummary(true)
    
    <div class="form-group row">
        <label asp-for="BransAdi" class="col-md-2 col-form-label"></label>

        <div class="col-md-10">
            <input type="text" asp-for="BransAdi" class="form-control" />

        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>