<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
   
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/GirisTema/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/GirisTema/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/GirisTema/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/GirisTema/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/GirisTema/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/GirisTema/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/GirisTema/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/GirisTema/css/main.css">
<!--===============================================================================================-->
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
            @RenderBody()
           
    </div>
    </div>
       </div>
    </div>

    <!--===============================================================================================-->	
	<script src="~/GirisTema/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="~/GirisTema/vendor/bootstrap/js/popper.js"></script>
	<script src="~/GirisTema/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="~/GirisTema/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="~/GirisTema/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="~/GirisTema/js/main.js"></script>

 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
